$headerBackgroundColor: #1b1c1d;
$primaryTextColor: #222;
$secondaryTextColor: #fff;
$highlightColor: #b5cc18;
$headerHeight: 50px;

$fontSpecial: 'ZCOOL KuaiLe', cursive;

$media-xxs-start: 320px;
$media-xxs-end: 419px;
$media-xs-start: 420px;
$media-xs-end: 767px;
$media-sm: 768px;
$media-sm-end: 991px;
$media-md: 992px;
$media-md-end: 1299px;
$media-lg: 1300px;

$padding-default: 15px;
$margin-default: 15px;
$margin-big: 50px;
$padding-big: 50px;
$margin-medium: 30px;
$padding-medium: 30px;
$margin-small: 10px;
$padding-small: 10px;
$padding-x-small: 5px;